[submodule "repos/caffe2"]
	path = repos/caffe2
	url = https://github.com/caffe2/caffe2.git
[submodule "repos/pytorch"]
	path = repos/pytorch
	url = https://github.com/pytorch/pytorch.git
[submodule "repos/onnx"]
	path = repos/onnx
	url = https://github.com/onnx/onnx.git
